//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.9 Beta-5
//Part Number: GW5AST-LV138FPG676AES
//Device: GW5AST-138
//Device Version: B
//Created Time: Sun 10 15 16:09:28 2023

IO_LOC "pmu_padrst" N23;
IO_PORT "pmu_padrst" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmu_paden" N21;
IO_PORT "pmu_paden" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mcu_TMS" A17;
IO_PORT "mcu_TMS" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mcu_TDI" B20;
IO_PORT "mcu_TDI" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mcu_TCK" C21;
IO_PORT "mcu_TCK" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mcu_TDO" B19;
IO_PORT "mcu_TDO" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpioB[3]" M25;
IO_PORT "gpioB[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpioB[2]" L20;
IO_PORT "gpioB[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpioB[1]" R26;
IO_PORT "gpioB[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpioB[0]" J14;
IO_PORT "gpioB[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpioA[2]" G15;
IO_PORT "gpioA[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpioA[1]" F15;
IO_PORT "gpioA[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpioA[0]" K16;
IO_PORT "gpioA[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mcu_rst_n" G16;
IO_PORT "mcu_rst_n" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "CLK50MHZ" P16;
IO_PORT "CLK50MHZ" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
