//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.9 Beta-5
//Part Number: GW5AST-LV138FPG676AES
//Device: GW5AST-138
//Device Version: B
//Created Time: Sat 11 11 18:09:20 2023

IO_LOC "pmu_padrst" N21;
IO_PORT "pmu_padrst" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmu_paden" N23;
IO_PORT "pmu_paden" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "inspect_pc[15]" AA24;
IO_PORT "inspect_pc[15]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[14]" Y25;
IO_PORT "inspect_pc[14]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[13]" M24;
IO_PORT "inspect_pc[13]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[12]" W25;
IO_PORT "inspect_pc[12]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[11]" V26;
IO_PORT "inspect_pc[11]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[10]" Y20;
IO_PORT "inspect_pc[10]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[9]" W19;
IO_PORT "inspect_pc[9]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[8]" V22;
IO_PORT "inspect_pc[8]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[7]" AA25;
IO_PORT "inspect_pc[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[6]" Y26;
IO_PORT "inspect_pc[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[5]" L22;
IO_PORT "inspect_pc[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[4]" W26;
IO_PORT "inspect_pc[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[3]" U26;
IO_PORT "inspect_pc[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[2]" W20;
IO_PORT "inspect_pc[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[1]" V19;
IO_PORT "inspect_pc[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inspect_pc[0]" U22;
IO_PORT "inspect_pc[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "mcu_TMS" A17;
IO_PORT "mcu_TMS" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "mcu_TDI" B20;
IO_PORT "mcu_TDI" PULL_MODE=NONE  BANK_VCCIO=3.3;
IO_LOC "mcu_TCK" C21;
IO_PORT "mcu_TCK" PULL_MODE=NONE  BANK_VCCIO=3.3;
IO_LOC "mcu_TDO" B19;
IO_PORT "mcu_TDO" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;



IO_LOC "mcu_rst_n" K16;
IO_PORT "mcu_rst_n" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "CLK50MHZ" P16;
IO_PORT "CLK50MHZ" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
