//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-2
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Thu 08 31 00:09:04 2023

IO_LOC "clk_32767_o" 48;
IO_PORT "clk_32767_o" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "clk_16M_o" 55;
IO_PORT "clk_16M_o" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mcu_TDI" 71;
IO_PORT "mcu_TDI" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mcu_TMS" 52;
IO_PORT "mcu_TMS" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mcu_TDO" 53;
IO_PORT "mcu_TDO" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mcu_TCK" 72;
IO_PORT "mcu_TCK" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "gpioA_7" 49;
IO_PORT "gpioA_7" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "gpioA_6" 87;
IO_PORT "gpioA_6" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "gpioA_5" 20;
IO_PORT "gpioA_5" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "gpioA_4" 19;
IO_PORT "gpioA_4" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "gpioA_3" 18;
IO_PORT "gpioA_3" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "gpioA_2" 17;
IO_PORT "gpioA_2" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "gpioA_1" 16;
IO_PORT "gpioA_1" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "gpioA_0" 15;
IO_PORT "gpioA_0" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "uart0_tx" 86;
IO_PORT "uart0_tx" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "uart0_rx" 79;
IO_PORT "uart0_rx" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mcu_rst_n" 88;
IO_PORT "mcu_rst_n" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk_8388" 10;
IO_PORT "clk_8388" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk_16M" 11;
IO_PORT "clk_16M" PULL_MODE=UP BANK_VCCIO=1.8;
